<template>
    <div>
        <div v-if="showRouteLinks">
            <router-link to="/apps">Apps</router-link>
            <router-link to="/sites">Sites</router-link>
        </div>

        <div v-else>
            <router-link to="/apps">Back</router-link>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'HeaderBar',
        computed: {
            showRouteLinks: function() {
                return this.$route.name === 'index' || this.$route.name === 'sites';
            }
        }
    }
</script>