<template>
    <div>
        <editor lang="javascript"/>

    </div>
</template>

<script>
    import {CHANGE_NAME} from "../store";
    import Editor from '../components/editor/Editor.vue';

    export default {
        components: {
            Editor
        },
        data() {
            return {
                nameModel: ''
            }
        },
//        computed: {
//            name() {
//                return this.$store.state.name;
//            }
//        },
        methods: {
            changeName() {
                this.$store.dispatch(CHANGE_NAME, this.nameModel);
            }
        }
    }
</script>