<template>
    <div>
        create an app
        <br/>

        {{$store.state.name}}

        <router-link to="/apps/create/js">JS</router-link>
        |
        <router-link to="/apps/create/html">HTML</router-link>

        <router-view></router-view>
    </div>

</template>