<template>
    <div>
        <header-bar></header-bar>
        <router-view></router-view>
    </div>
</template>

<script>
    import HeaderBar from '../components/header-bar/HeaderBar.vue';


    export default {
        name: 'app',
        components: {
            HeaderBar
        }
    }
</script>