<template>
    <div>
        <editor lang="html" />
    </div>
</template>

<script>
    import Editor from '../components/editor/Editor.vue';
    export default {
        components: {
            Editor
        }
    }
</script>