<template>
    <div>
        <header-bar></header-bar>

        A fancy list of sites here
    </div>
</template>

<script>
    import HeaderBar from '../components/header-bar/HeaderBar.vue';

    export default {
        name: 'sites',
        components: {
            HeaderBar
        }
    }
</script>